<div class="ui bla menu large" style="width:1020px; background-color:#f3f4f6">
  <div class="ui container">
    <div class="ui simple dropdown item">
      <b>Add text</b> <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" href="#" onclick="openTab('page_upload_text'); makeActive(this)">Annotated text</a>
        <a class="item active" href="#" onclick="openTab('page_annotate'); makeActive(this)">Annotate new text</a>
      </div>
    </div>
    <div class="ui simple dropdown item">
      <b>Statistics</b> <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" href="#" onclick="openTab('page_general'); makeActive(this)">General statistics</a>
        <a class="item" href="#" onclick="openTab('page_pos'); makeActive(this)">Parts-of-speech</a>
        <a class="item" href="#" onclick="openTab('page_freq'); makeActive(this)">Frequencies</a>
        <a class="item" href="#" onclick="openTab('page_readability'); makeActive(this)">Readability</a>
        <a class="item" href="#" onclick="openTab('page_lexical'); makeActive(this)">L2 features</a>
        <a class="item" href="#" onclick="openTab('page_morph'); makeActive(this)">Morphological features</a>
        <a class="item" href="#" onclick="openTab('page_syntactic'); makeActive(this)">Syntactic features</a>
        <div class="divider"></div>
        <a href="#" class="item" onclick="openTab('page_export'); makeActive(this)">Export statistics</a>
      </div>
    </div>

    <span id="text_menu_zone"></span>


    <div class="right menu">
      <a class="item" href="{{url}}/en">Start</a>
      <!---
      <a class="item" onclick="openTab('page_auth'); makeActive(this)">Logga in</a>
      --->

      <div class="ui right simple dropdown item">
        <b>Help</b> <i class="dropdown icon"></i>

      <div class="menu">
        <a class="item" href="#" onclick="openTab('page_help'); makeActive(this)">User manual</a>
      </div>

    </div>
  </div>
  </div>
</div>
