<!doctype html>
<html>
<head>
<title>SWEGRAM</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="https://stp.lingfil.uu.se/~jena0545/static/style_2.css">
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lusitana' rel='stylesheet' type='text/css'>
</head>

<body>
<img src="https://stp.lingfil.uu.se/~jena0545/static/swe-clarin-loggo.png" height="110" width="160" style="float:left; margin-left:15px;">
<img src="https://stp.lingfil.uu.se/~jena0545/static/UU_logo_sv_84_transparent.png" height="125" width="125" style="float:right;">
<center><span style="position:relative; left:-15px; top:40px; font-size:64px; color:#556080; font-family: 'Lusitana', serif;">SWEGRAM</span></center>
<br><hr style="margin-top:23px;">
<span style="float:right; margin-right:10px; font-size:16px;"><a href="{{url}}/">Swedish version</a></span><br>
<div style="padding:15px; font-size:15px;">SWEGRAM aims to provide a tool for text analysis in Swedish and English. You can upload one or several texts and annotate them at different linguistic levels with morphological and syntactic information. The annotated texts can then be used to extract statistics about the text properties with respect to text length, number of words, readability measures, part-of-speech, and much more.
</div><br>
<center>
<a href="{{url}}/swedish/"><div class="start-icon" style="color:#556080;"><img src="https://stp.lingfil.uu.se/~jena0545/static/sv.png" width="80px" height="80px"><br><span style="font-size:130%;">Swegram for texts<br> in Swedish</span></div></a>
<a href="{{url}}/english/"><div class="start-icon" style="color:#556080;"><img src="https://stp.lingfil.uu.se/~jena0545/static/en.png" width="80px" height="80px"><br><span style="font-size:130%;">Swegram for texts<br> in English</span></div></a>
</center>
<br><br><br><br>
<div style="width:850px; bottom:20px; font-size:75%;">
  The SWEGRAM tool has been developed in collaboration between the Department of Scandinavian Languages and the Department of Linguistics and Philology at Uppsala University within the framework of the <a href="https://sweclarin.se/">SWE-CLARIN</a> project, which aims to make linguistic data available as primary research data for researchers within the Humanities and Social Sciences (HS) using advanced text and speech processing tools. <hr>
  <b>Project leader</b>: Beáta Megyesi, Department of Linguistics and Philology, UU<br>
  <b>Project participants</b>: Anne Palmér, Department of Scandinavian Languages, UU and Jesper Näsman and Eva Pettersson, Department of Linguistics and Philology, UU<br>
  <b>Web development</b>: Jesper Näsman, Department of Linguistics and Philology, UU<br><hr>
<b>References</b>: <br>
Megyesi, B., Palmér, A. & Näsman J. (2019) SWEGRAM -  Annotering och analys av svenska texter. Institutionen för \
lingvistik och filologi och Institutionen för nordiska språk, Uppsala universitet. [<a href="https://cl.lingfil.u\
u.se/~bea/publ/swegram-manual-2019.pdf">get pdf: in Swedish</a>]
<br>
Näsman, J., Megyesi, B., & Palmér, A. (2017)  SWEGRAM  - A WebBased Tool for Automatic Annotation and Analysis of\
 Swedish Texts. In Proceedings of 21st Nordic Conference on Computational Linguistics, Nodalida 2017. [<a href="h\
ttps://cl.lingfil.uu.se/~bea/publ/swegram-2017.pdf">get pdf</a>]


</div><br>
<div style="font-size:60%; left:-5px; bottom:0%; text-align:right; width:100%;">Icons made by <a href="http://www.flaticon.com/authors/madebyoliver" title="Madebyoliver">Madebyoliver</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
</body>
</html>
