<h2 class="ui block medium header">
  Om SWEGRAM
</h2>

SWEGRAM syftar till att ge möjlighet att märka upp och analysera texter på
svenska. Du kan ladda upp en eller flera texter och annotera dessa på olika
lingvistiska nivåer med morfologisk och syntaktisk information. Annoterade
texter kan sedan användas för att få fram statistik om texterna med avseende på
meningslängd, antal ord, läsbarhetsmått, ordklasstatistik med mera.<br><br>
Annoterings- och analysverktyget har utvecklats i samarbete mellan Institutionen
för nordiska språk och Institutionen för lingvistik och filologi vid Uppsala
universitet inom ramen av <a href="https://sweclarin.se/">SWE-CLARIN-projektet
</a> som syftar till att bland annat göra språkbaserade material tillgängliga
som primära forskningsdata för humanistisk och samhällsvetenskaplig (HS)
forskning med hjälp av avancerade bearbetningsverktyg för text och tal.

<h3>Deltagare</h3>
<h5>Projektledare</h5>
<div class="ui bulleted list">
<div class="item">Beáta Megyesi, Institutionen för lingvistik och filologi, UU</div>
</div>
<h5>Projektdeltagare</h5>
<div class="ui bulleted list">
<div class="item">Anne Palmér, Institutionen för nordiska språk, UU</div>
<div class="item">Fabienne Cap, Institutionen för lingvistik och filologi, UU</div>
<div class="item">Eva Pettersson, Institutionen för lingvistik och filologi, UU</div>
<div class="item">Sara Stymne, Institutionen för lingvistik och filologi, UU</div>
</div>

<h5>Utvecklare</h5>
<div class="ui bulleted list">
<div class="item">Jesper Näsman, Institutionen för lingvistik och filologi, UU</div>
</div>
