<html>

  <head>
    <title>SWEGRAM - Annotation and Analysis of Swedish Text</title>
    <meta charset="utf-8" />
    {% load static %}
    <script src="{% static '/swegram_main/noty.js' %}"></script>
    <link rel="stylesheet" href="{% static '/swegram_main/noty.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js"></script>
  </head>

  <body>
    <div class="main ui inverted dimmer">
      <div id="loader_label" class="ui large loader"></div>
    </div>
    <input type="hidden" id="urls" {% if url %} value="{{url}}" {% endif %}>

    <div style="width:1100px; margin:auto;">

    {% include "swegram_main/handlebars_templates.html" %}

    {% include "swegram_main/menu.html" %}

    {% include "swegram_main/sections.html" %}

    {% include "swegram_main/sidebar.html" %}

    </div>

    <script src="{% static '/swegram_main/stats.js' %}"></script>
    <script src="{% static '/swegram_main/upload.js' %}"></script>
    <script src="{% static '/swegram_main/script.js' %}"></script>
    <script src="{% static '/swegram_main/displacy.js' %}"></script>
    <link rel="stylesheet" href="{% static '/swegram_main/style.css' %}">


  </body>

</html>
