<div class="ui two column doubling stackable grid container">


  <div style="z-index:0;" id="page_pos" class="left_col ten wide column">
    {% include "swegram_main/sections/pos_section.html" %}
    <div class="pos ui inverted dimmer">
      <div id="loader_label" class="ui large loader"></div>
    </div>
  </div>

  <div style="z-index:0;" id="page_general" class="left_col ten wide column">
    {% include "swegram_main/sections/general_section.html" %}
    <div class="general ui inverted dimmer">
      <div id="loader_label" class="ui large loader"></div>
    </div>
  </div>

  <div style="z-index:0;" id="page_freq" class="left_col ten wide column">
    {% include "swegram_main/sections/freqs_section.html" %}
    <div class="freq ui inverted dimmer">
      <div id="loader_label" class="ui large loader"></div>
    </div>
  </div>

  <div style="z-index:0" id="page_syntactic" class="left_col ten wide column">
    {% include "swegram_main/sections/syntactic_section.html" %}
    <div class="syntactic ui inverted dimmer">
      <div id="loader_label" class="ui large loader"></div>
    </div>
  </div>

  <div style="z-index:0" id="page_morph" class="left_col ten wide column">
    {% include "swegram_main/sections/morph_section.html" %}
    <div class="morph ui inverted dimmer">
      <div id="loader_label" class="ui large loader"></div>
    </div>
  </div>


  <div style="z-index:0;" id="page_significance" class="left_col ten wide column">
    {% include "swegram_main/sections/significance_section.html" %}
  </div>

  <div style="z-index:0;" id="page_auth" class="left_col ten wide column">
    {% include "swegram_main/sections/auth_section.html" %}
  </div>

  <div style="z-index:0;" id="page_readability" class="left_col ten wide column">
    {% include "swegram_main/sections/readability_section.html" %}
    <div class="readability ui inverted dimmer">
      <div id="loader_label" class="ui large loader"></div>
    </div>
  </div>

  <div style="z-index:0;" id="page_export" class="left_col ten wide column">
    {% include "swegram_main/sections/export_section.html" %}
  </div>

  <div style="z-index:0;" id="page_upload_text" class="left_col ten wide column">
    {% include "swegram_main/sections/analyze_section.html" %}
  </div>

  <div style="z-index:0;" id="page_annotate" class="dimmable left_col ten wide column">
    {% include "swegram_main/sections/annotate_section.html" %}
  </div>

  <div style="z-index:0;" id="page_help" class="left_col ten wide column">
    {% include "swegram_main/sections/help_section.html" %}
  </div>

  <div style="z-index:0;" id="page_about" class="left_col ten wide column">
    {% include "swegram_main/sections/about_section.html" %}
  </div>

  <div style="z-index:1;" id="page_visualise" class="left_col ten wide column">
    {% include "swegram_main/sections/visualise_section.html" %}
  </div>
