<!doctype html>
<html>
<head>
<title>SWEGRAM</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="https://stp.lingfil.uu.se/~jena0545/static/style_2.css">
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lusitana' rel='stylesheet' type='text/css'>
</head>

<body>

<img src="https://stp.lingfil.uu.se/~jena0545/static/swe-clarin-loggo.png" height="110" width="160" style="float:left; margin-left:15px;">
<img src="https://stp.lingfil.uu.se/~jena0545/static/UU_logo_sv_84_transparent.png" height="125" width="125" style="float:right;">
<center><span style="position:relative; left:-15px; top:40px; font-size:64px; color:#556080; font-family: 'Lusitana', serif;">SWEGRAM</span></center>
<br><hr style="margin-top:23px;">
<span style="float:right; margin-right:10px; font-size:16px;"><a href="{{url}}/en">English version</a></span><br>
<div style="padding:15px; font-size:15px;">SWEGRAM syftar till att ge möjlighet att märka upp och analysera texter på svenska och engelska. Du kan ladda upp en eller flera texter och annotera dessa på
  olika lingvistiska nivåer med morfologisk och syntaktisk information. Annoterade texter kan sedan
  användas för att få fram statistik om texterna med avseende på meningslängd, antal ord,
  läsbarhetsmått, ordklasstatistik med mera.
</div><br>
<center>
<a href="{{url}}/swedish/"><div class="start-icon" style="color:#556080;"><img src="https://stp.lingfil.uu.se/~jena0545/static/sv.png" width="80px" height="80px"><br><span style="font-size:130%;">Swegram för texter<br> på svenska</span></div></a>
<a href="{{url}}/english/"><div class="start-icon" style="color:#556080;"><img src="https://stp.lingfil.uu.se/~jena0545/static/en.png" width="80px" height="80px"><br><span style="font-size:130%;">Swegram för texter<br> på engelska</span></div></a>
</center>
<br><br><br><br>
<div style="width:850px; bottom:20px; font-size:75%;">
  Annoterings- och analysverktyget har utvecklats i samarbete mellan Institutionen för nordiska språk
  och Institutionen för lingvistik och filologi vid Uppsala universitet inom ramen av <a href="https://sweclarin.se">SWE-CLARIN-projektet</a>
  som syftar till att tillgängliggöra språkbaserade material som primära forskningsdata
  för humanistisk och samhällsvetenskaplig (HS) forskning med hjälp av avancerade bearbetningsverktyg för text och tal. <hr>
  <b>Projektledare</b>: Beáta Megyesi, Institutionen för lingvistik och filologi, UU<br>
  <b>Projektdeltagare</b>: Anne Palmér, Institutionen för nordiska språk, UU och Jesper Näsman och Eva Pettersson, Institutionen för lingvistik och filologi, UU<br>
  <b>Webbutveckling</b>: Jesper Näsman, Institutionen för lingvistik och filologi, UU<br><hr>
<b>Referenser</b>: <br>
Megyesi, B., Palmér, A. & Näsman J. (2019) SWEGRAM -  Annotering och analys av svenska texter. Institutionen för lingvistik och filologi och Institutionen för nordiska språk, Uppsala universitet. [<a href="https://cl.lingfil.uu.se/~bea/publ/swegram-manual-2019.pdf">get pdf</a>] 
<br>
Näsman, J., Megyesi, B., & Palmér, A. (2017)  SWEGRAM  - A WebBased Tool for Automatic Annotation and Analysis of Swedish Texts. In Proceedings of 21st Nordic Conference on Computational Linguistics, Nodalida 2017. [<a href="https://cl.lingfil.uu.se/~bea/publ/swegram-2017.pdf">get pdf</a>]


</div>
<div style="font-size:60%; left:-5px; bottom:0%; text-align:right; width:100%;">Icons made by <a href="https://www.flaticon.com/authors/madebyoliver" title="Madebyoliver">Madebyoliver</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
</body>
</html>
